# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Objectives:
* List Popular Languages For Data Science
* List Commonly Used LIbraries For Data Science
* List A Few Examples of Arithmetic Expressions

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Tensorflow
2. Numpy
3. Scipy
4. Pandas

| Data Science Tools |
| :- |
| RStudio |
| ApacheSpark |
| ApacheHadoop |
| Tensorflow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [9]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [11]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Vianni Fernandes